.detail__wrapper {
    min-height: 20vh;
    background-color: rgb(166, 165, 165);
}

.detail__show {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
   margin: 0 3rem;
}

.detail__slider {
    max-width: 100%;
    height: 100%;
}

.detail__count {
    display: flex;
}

.detail__count > div {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail__count > div > span {
    width: 25px;
}

.detail__cart {
    display: flex;
}

@media screen and (max-width: 991px) {
    .detail__show {
        margin: 0 10px;
    }
}
